# Overview of EDA project.

## Introduction

The purpose of this EDA project is to analyze data related to various countries in  order to gain a deeper understanding of their characteristics and patterns. 

The project will consist of three main parts: 
- *collecting data*
- *cleaning data*
- *forming hypotheses*
    
In the first part, we will gather data from a variety of sources and identify relevant variables for analysis. In my case, I used following sources:
- *Kaggle*
- *ourworldindata*

In the second part, we will ensure that the data is `accurate and consistent`, and format it in a way that makes it easier to analyze. Nothing special, just dropping and merging different datasets.

In the third part, we will use statistical analysis and other methods to test hypotheses about the relationships between variables and draw conclusions about the data. We will either `prove or refute` our hypotheses using graphical analysis.

By completing this project, we aim to inform decision making and policy development by providing insights into the patterns and trends in the data.

## Part 1, 2

Please refer to [this file](./cleaning/dataCleaning.ipynb) and [this file](./cleaning/cleaning.ipynb)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### This is our clean dataset that doesn't have null values

In [3]:
df = pd.read_csv('cleaning/clean.csv')
df.dropna(inplace=True)
df

,Country,CO2,Population,Happiness,Code,Year,Life Expectancy,SPM,Percentage of all deaths caused by air pollution
0,Afghanistan,1.785029e+08,38972230.0,5.146832e+12,AFG,2019.0,63.6,0.64,16.61
1,Albania,2.772782e+08,2866849.0,5.146832e+12,ALB,2019.0,79.3,0.67,9.54
2,Algeria,4.107870e+09,43451666.0,1.450000e+11,DZA,2019.0,76.5,0.75,10.73
3,Andorra,1.371738e+07,77700.0,5.146832e+12,AND,2019.0,83.0,1.31,2.17
4,Angola,6.237623e+08,33428485.0,5.146832e+12,AGO,2019.0,62.4,1.04,9.52
...,...,...,...,...,...,...,...,...,...
199,Northern Mariana Islands,1.732373e+10,49587.0,5.146832e+12,MNP,2019.0,77.1,2.24,4.34
200,Puerto Rico,1.732373e+10,3271564.0,1.030000e+11,PRI,2019.0,79.1,0.76,1.30
201,San Marino,1.732373e+10,34007.0,5.146832e+12,SMR,2019.0,83.0,1.40,2.20
202,Tokelau,1.732373e+10,1827.0,5.146832e+12,TKL,2019.0,75.1,1.18,1.97
203,United States Virgin Islands,1.732373e+10,100442.0,5.146832e+12,VIR,2019.0,75.1,0.69,2.35

In [4]:
df.isnull().sum()

Country                                             0
CO2                                                 0
Population                                          0
Happiness                                           0
Code                                                0
Year                                                0
Life Expectancy                                     0
SPM                                                 0
Percentage of all deaths caused by air pollution    0
dtype: int64

## Part 3

### Forming hypotheses